/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#map {
  height: 98%;
  width: 99%;
  border-top: 6px solid orange;
  border-right: 6px solid orange;
  border-bottom: 8px solid orange;
  overflow-y: hidden;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

strong {
  color: blue;
}

h1{
  margin: 20px 0;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 1.3em;
  color: black;
  text-shadow: 1px 1px 2px #fff;
}

#search {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: orange;
  background-image: url("bubbles.jpg");
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  height: 93.8%;
  width: 200px;
  padding: 20px;
  border: 1px solid orange;

}

#search img{
  height: 150px;
  margin: 0 auto;
}

#states{
  width: 100%;
  height: 30px;
  font-size: 1em;
  margin: 30px 0;
}

select[id="states"]{
  border-color: orange;
}

#btn{
  width: 100%;
  white-space: nowrap;
  padding: 20px;
  font-size: 1em;
  border-radius: 10px;
  border-color: orange;
}

#btn:hover{
  background: #55c8dd;
}

ul{
   overflow-y: scroll;
   padding-left: 20px;
}

li{
  padding-bottom: 12px;
  font-size: 0.8em;
  margin-left: -20px;
  padding: 6px;
  color: black;

  font-weight: bold;
   background-color: rgba(225, 225, 225, 0.5);
  
}


/* style info window ---------------*/

#info-window {
  max-width: 350px;
  max-height: 350px;
  overflow-y: scroll;
  flex: 0 0;
  overflow-x: hidden;
}

#flexStuff {
  display: flex;
  flex-direction: row;
}


#info-window a{
  color: orange;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

#icon {
  height: 70px;
  width: 24%;
  margin: 0 5px 0 5px;
}

#info-window h1{
  color: white;
  background-color: orange;
  padding: 17px;
  letter-spacing: .09em;
  font-size: 1em;
  white-space: nowrap;
}


/* only mobile and tablet */
@media screen and (max-width: 470px) {

  #info-window {
    max-width: 300px;
    max-height: 300px;
  }

  #info-window h1{
    padding: 10px 73px 10px 43px;
    font-size: 0.8em;
    text-align: left;
    margin-left: -30px;
  }

  #icon {
    height: 55px;
    width: 18%;
    margin: 0 20px 0 5px;
  }

  #flexStuff {
    margin-top: 10px;
    font-size: 0.9em;
  }

  body{
    height: 400px;
  }

  #map{
    border: none;
    margin-top: 490px;
    height: 400px;
    width: 100%;
  }

  #btn{
    margin-bottom: 20px;
  }

  #search{
    width: 85.5vw;
    height: 450px;
    overflow-x: hidden;
    border: none;
  }

  h1{
    font-size: 1.5em;
    margin: 15px 20px 0 20px;
  }

  #search img{
    height: 23%;
    margin: 0 auto;
  }

  li{
    font-size: 1em;
  }

}





















